<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Find Homeys</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>

    </div>
  </nav>


  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-subheading text-muted">Find your Homey{{streetAddress}} {{city}} {{state}} {{zipCode}}</h3>
    </div>
  </div>

<div class="panel panel-default"></div>
  <div class="container">
    <!--for each sitter-->
    <div class="row">
      <div class="col-lg-4">
        <img class="mx-auto" style="height:200px" src="https://metrouk2.files.wordpress.com/2017/06/683998268.jpg?w=748&h=498&crop=1" alt="">
        <h4>Fernando Torres</h4>
      </div>
      <div class="col-lg-8">
        <p class="text-muted">Fernando José Torres Sanz (Spanish pronunciation: [ferˈnando ˈtores]; born 20 March 1984) is a Spanish professional footballer who plays as a striker for La Liga club Atlético Madrid and the Spain national team.</p> 
        <h4 class="text-muted">Price : $200.000</h4> 
        <h5 class="text-muted">Distance :</h5> 
        <a class="btn btn-primary btn-md text-uppercase" id="bookSitter" data-id={{id}} data-sitter="1" href="#services">Book this Homey</a>
      </div>
    </div>
    <!--for each sitter-->
    <div class="row">
      <div class="col-lg-4">
        <img class="mx-auto" style="height:200px" src="https://metrouk2.files.wordpress.com/2017/06/683998268.jpg?w=748&h=498&crop=1" alt="">
        <h4>Fernando Torres</h4>
      </div>
      <div class="col-lg-8">
        <p class="text-muted">Fernando José Torres Sanz (Spanish pronunciation: [ferˈnando ˈtores]; born 20 March 1984) is a Spanish professional footballer who plays as a striker for La Liga club Atlético Madrid and the Spain national team.</p> 
        <h4 class="text-muted">Price : $200.000</h4> 
        <h5 class="text-muted">Distance :</h5> 
        <a class="btn btn-primary btn-md text-uppercase" id="bookSitter" data-sitter="2" href="#services">Book this Homey</a>
      </div>
    </div>
    <!--for each sitter-->

  </div>
</div>
  </section>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Homeys 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



</body>
